/* Импорт шрифта */
@import url('https://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:300');

#prev {
  margin-top: 70px !important;
}

#current {
  font-size: 40px;
  color: #a8d8f8;
  
}

h1 {
  font-weight: normal;
  margin: 2em 0;
}

p {
  line-height: 150%;
  max-width: 36em;
  margin: 1em auto;
}

a {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px solid #444;
  transition: color .2s ease-in;
}

a:hover,
a:focus {
  color: #eee;
}

.knob-surround {
  position: relative;
  background: linear-gradient(to top, #1e1e1e, #141414);
  width: 14em;
  height: 14em;
  border-radius: 50%;
  border: solid .25em #121212;
  margin: 2em auto;
  box-shadow:
    0 .2em .1em .05em rgba(255, 255, 255, 0.1) inset,
    0 -.2em .1em .05em rgba(0, 0, 0, 0.5) inset,
    0 .5em .65em 0 rgba(0, 0, 0, 0.3);
}

.knob {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(0deg);
  z-index: 10;
}

.knob:before {
  content: "";
  position: absolute;
  bottom: 19%;
  left: 19%;
  width: 3%;
  height: 3%;
  background-color: #a8d8f8;
  border-radius: 50%;
  box-shadow: 0 0 .4em 0 #88b7d6;
}

.min,
.max {
  display: block;
  font-family: 'Varela Round', sans-serif;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 70%;
  position: absolute;
  opacity: 0.5;
  color: #a8d8f8;
  transition: all 250ms ease-in;
}


.min {
  bottom: 1em;
  left: -2.5em;
}

.max {
  bottom: 1em;
  right: -2.5em;
}

.tick {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: visible;
}

.tick:after {
  content: "";
  width: .18em;
  height: .6em;
  border-radius: 70%;
  background-color: rgba(100, 100, 100, 0.2);
  position: absolute;
  top: -1.5em;
  left: 50%;
  transition: all 280ms ease-out;
}

.tick.active:after {
  background-color: #a8d8f8;
  box-shadow: 0 0 .3em .08em #5688a8;
  transition: all 250ms ease-in;
}

/* Генерация 28 тиков вручную */
.tick:nth-child(1) { transform: rotate(-135deg); }
.tick:nth-child(2) { transform: rotate(-125deg); }
.tick:nth-child(3) { transform: rotate(-115deg); }
.tick:nth-child(4) { transform: rotate(-105deg); }
.tick:nth-child(5) { transform: rotate(-95deg); }
.tick:nth-child(6) { transform: rotate(-85deg); }
.tick:nth-child(7) { transform: rotate(-75deg); }
.tick:nth-child(8) { transform: rotate(-65deg); }
.tick:nth-child(9) { transform: rotate(-55deg); }
.tick:nth-child(10) { transform: rotate(-45deg); }
.tick:nth-child(11) { transform: rotate(-35deg); }
.tick:nth-child(12) { transform: rotate(-25deg); }
.tick:nth-child(13) { transform: rotate(-15deg); }
.tick:nth-child(14) { transform: rotate(-5deg); }
.tick:nth-child(15) { transform: rotate(5deg); }
.tick:nth-child(16) { transform: rotate(15deg); }
.tick:nth-child(17) { transform: rotate(25deg); }
.tick:nth-child(18) { transform: rotate(35deg); }
.tick:nth-child(19) { transform: rotate(45deg); }
.tick:nth-child(20) { transform: rotate(55deg); }
.tick:nth-child(21) { transform: rotate(65deg); }
.tick:nth-child(22) { transform: rotate(75deg); }
.tick:nth-child(23) { transform: rotate(85deg); }
.tick:nth-child(24) { transform: rotate(95deg); }
.tick:nth-child(25) { transform: rotate(105deg); }
.tick:nth-child(26) { transform: rotate(115deg); }
.tick:nth-child(27) { transform: rotate(125deg); }
.tick:nth-child(28) { transform: rotate(135deg); }
