@import './../node_modules/bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: "Moderat";
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Moderat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "7SegBoldItalic";
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/DSEG7Modern-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Seg14";
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/DSEG14Modern-Italic.ttf') format('truetype');
}

:root {
  --red: rgb(255, 51, 40);
  --green: rgb(42, 199, 94);
  --blue: rgb(71, 209, 204);
  --violet: rgb(93, 83, 247);
  --darkBlue: #3030d1;
  --white: rgb(255, 255, 255);
  --grey-progress: rgb(234, 234, 238);
  --grey-main: rgb(244, 244, 247);
  --grey-button: rgb(249, 223, 226);
  --grey-button-bottom: rgb(231, 231, 233);
  --grey-nav: rgb(223, 223, 226 );
  --color: #ffffff;        
  --transColor:none;
  --gridColorStroke:#FFFFFF;;
  --knobMainText: rgba(0, 0, 0, 0.8);
  --knobSecText: orangered;
  --default-stroke-width:10px;
  --stroke-width:1000px;
  --gridColorFill: rgb(65, 65, 65);
  --gridColorStroke: rgb(155, 155, 155);
  --stroke-width-mul:5000px;
  --default-stroke-width:4000px;
  
}

.themeLight {
  --mainBg: rgb(244, 244, 247);
  --mainBg1: rgb(249, 223, 226);
  --darkBg: rgb(231, 231, 233);
/*   --gridColorFill: rgb(223, 223, 226 );
  --paleColor: #434343;  */ 
  --shadow: drop-shadow(0px 0px 0px rgb(0,0,0))
}

.themeDark {
  --mainBg: #383838;
  --mainBg1: #282828;
  --darkBg:#171717;
  /* --gridColorFill:#333333;
  --paleColor: #cccccc;     */
  --shadow: drop-shadow(0px 2px 4px rgba(0,0,0,1))
}

html, body {
  touch-action: none !important;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#App {
  width:  100vw;
  height: 100vh;
  overflow: hidden;
}

.segments14 {
  font-family: 'Seg14', monospace !important;
}

.seven-seg {
  font-family: '7SegBoldItalic', monospace !important;
}

#main1 {
  display: flex; /* <--- ЭТО обязательно */
  flex-direction: row;
  background-color: var(--mainBg);
  width: 100%;
}

#NavBar {
  flex: 1;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s ease;
}
 

@media (orientation: landscape) {
  .navigation-bar {
    flex-direction: row;
  }

  .fade-toggle {
   /*  transform: translateX(-100%); 
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease; */
    display: none;
    background-color: var(--white);
    z-index: 10; 
    width: 0px;

   }

  .fade-toggle.visible {
    display: flex;
    transform: translateX(0);
    opacity: 1;
    max-width: 275px;
    min-width: 275px;
    padding: 0.5em;
  }   

  .swiperSlide {
    width: 800px;
    height: 800px;
  }

  .swiperSlideInTasks {
    width: 574px;
    height: 600px;
  }
}


@media (orientation: portrait) {
  .navigation-bar {
    flex-direction: row;
  }

  .fade-toggle {
    transform: translateX(-100%); 
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color: var(--white);
    z-index: 10; 
    width: 0px;

   }


  .fade-toggle.visible {
    transform: translateX(0);
    opacity: 1;
    width: 160px !important; 
    padding: 0.5em 0.5em;
  }

  .fade-toggle.visible .h-125 {
    width: 140px;   
  }

  .fade-toggle .h-125 {
    width: 0px;
  }

  .swiperSlide {
    width: 750px;
    height: 780px;
  }

  .swiperSlideInTasks {
    width: 574px;
    height: 600px;
  }
} 

#sidePanelWrapper {
  border: 1px solid white;
  border-top-right-radius: 10px;
  margin-top: 5px;
}

.knob_name {
  top: 180px;
  z-index: 1;
  font-size: 52px;
  color: orangered;
}

.knob_min {
  top: 180px;
  z-index: 1;
  font-size: 52px;
  color: orangered;
}

.knob_max {
  top: 180px;
  z-index: 1;
  font-size: 52px;
  color: orangered;
}

.knob_m {
  z-index: 1;
  font-size: 52px;
  color: orangered;
} 

#main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--grey-main);
}

#BarContainer {
  height: calc( 100% - 58px);
  width: 100%;
}

#MidBarContainer {
  width: 91%;
} 

#LeftCentralBarContainer {
  width: 100%;
  height: 100%;
}

#dLine, 
.dLine {
  border-top: 5px solid var(--grey-progress);
  width: 100%;
  height: 2px;
}

#SwiperContainer {
  min-height: 800px;
  min-width: 800px;
  max-width:   1600px;
  max-height: 800px;
  display: flex;
  align-items: center;
}

* #LeftBar {
  min-width: 100px;
  max-width: 100px;
  height: 100%;
  height: 100%;
  background-color: var(--grey-progress);
  border: 1px solid var(--grey-progress);
  border-top-right-radius: 10px;
 }

#LeftBar button {
  background-color: var(--violet);
  border: 1px solid var(--violet);
  border-radius: 5px;
  width: 100%;
  height: 58px;
 }


#RightBar {
  min-width: 175px;
  max-width: 175px;
  height: 100%;
  background-color: var(--white) ;
  border: 1px solid var(--white) ;
  border-top-left-radius: 10px;
  margin-top: 8px;
}

#RightBar div {
  margin:5px;
}

#RightBar button {
  background-color: var(--grey-progress);
  border: 1px solid var(--grey-progress);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  color: black;
  transition: background-color 0.2s ease;
}

#RightBar button:active,
#RightBar button:focus:active {
  background-color: var(--grey-main) !important;
}

/* Чтобы dropdown-items тянулись на всю ширину */
#RightBar .dropdown-menu {
  width: 100%;
}


.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 800px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.planCard {
  width: 600px;
  height: fit-content;
  max-height: 800px;  
  border: 2px solid var(--grey-progress);
  border-radius: 10px;
  padding: 1em;
  background-color: var(--white);
}


.planCard_header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.planCard_body_img{
  padding: 25px;
  border: 2px solid var(--grey-progress);
  border-radius: 10px;
  background-color: var(--grey-main);
  width: 456px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.swipeButtons {
  position: absolute!important;
  justify-content: center!important;
  margin-top: 1.5rem!important;
  bottom: 10px;
  /* left: 45%; */
  z-index: 10;
}

.swipeButtons {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}

.navbar_button {
  border-radius: 5px;
  color: black;
  width: 58px;
  height: 58px;
}

.violet_button {
  background-color: var(--violet) !important;
  border: 1px solid var(--violet) !important;
}

.grey_button {
  background-color: var(--grey-nav) !important;
  border: 1px solid var(--grey-nav) !important;
}

.white_button {
  background-color: var(--white) !important;
  border: 1px solid var(--white) !important;
}

.swipeButtons button {
  border-radius: 5px;
  color: black;
  width: 58px;
  height: 58px;
}

.h-80 {
  height: 80% !important;
}

.d-contents {
  display: contents !important;
}

.h-70 {
  height: 70% !important;
}

.h-60 {
  height: 60% !important;
}

.h-40 {
  height: 40% !important;
}

.h-33 {
  height: 33.3% !important;
}

.h-30 {
  height: 30% !important;
}

.h-20 {
  height: 20% !important;
}

.h-15 {
  height: 15% !important;
}

.h-10 {
  height: 10% !important;
}

.h-125 {  height: 11.5% !important;
}

.vidget {  
  background-color: var(--grey-progress);
  border: 1px solid  var(--mainBg);
  border-radius: 10px;
  border-top-left-radius: 0;
  overflow: hidden;  
  color: aliceblue;
}

.themeDark.svgChart {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

.knob_body {
  background-color: #181818;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #aaa;
  text-align: center;
}

/* .editModal_row {
  height: 250px;
}*/

.editModal_col {
  width: 150px;
  height: 250px;
}

.editModal_col_hor {
  width: 330px;
  height: 150px;
}

.modal-content {
  /* background-color: rgb(234, 234, 238); */
  background-color: white;
}

.listMacrosEdit_title {
  margin-top: 12px;
  margin-bottom: 12px;
  color: orangered;
}

.listMacrosEdit .list-group-item {
   background-color: rgb(234, 234, 238);
   border: 1px solid rgb(223, 223, 226 );
}

.listMacrosEdit .form-check {
  padding: 0;
}

/* CUSTOM RADIO BUTTON  START*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--violet);
    position: absolute;
    top: 4.25px;
    left: 4.25px;
    border-radius: 100%;
   /*  -webkit-transition: all 0.2s ease;*/
    transition: none; 
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* CUSTOM RADIO BUTTON  END*/

.mt-10 {
  margin-top: 6rem!important;
}

.modal-content .btn {
  background-color: var(--grey-nav) !important;
  border: 1px solid var(--grey-nav) !important;
  color: #484848 !important;
}

.modal-fullscreen .modal-body {
   overflow: hidden !important;
}

.modal-content #stages .btn-primary {
  background-color: var(--knobMainText) !important;
  color: white !important;
  font-weight: bold;
}

.stringComponentContainer {
  width: 550px;
  height: 66px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--grey-nav) !important;
  border-radius: 0.75em;
  background-color: var(--grey-nav);
}

.stringComponentWrapper  {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
}


.stringComponentLabel {
  font-size:25px;
  color: var(--red);
}

.stringComponent {
  width: 500px;
  height: 20x;
  font-size:25px;
  border: none;
  background-color: var(--grey-nav);
}

.carousel_btn {
  background-color: var(--violet);
  border: 1px solid var(--violet);
  border-radius: 5px;
  width: fit-content;
/*   height: 60px;
 */
height: fit-content;}

.bigNum {
  font-size: 250px;
} 

.swiperSlide {
  background-color: #fff;
  border: 1px solid (var(--darkBg));
  border-radius: 10px;
  overflow: hidden;
 }

.swiperSlideName {
  background-color: var(--violet);  
  color: white;
}

.swiperSlideLong {
  width: 800px;
  height: 800px;
}

.notInUse {
  background-color: var(--grey-nav);  
  color: black;
}

.currentMacros {
  background-color:  rgba(19,191,17,1);
  color: white;
}

.modal-content {
  background-color: rgb(244, 244, 247);
}

.modulatiomNacroName {
  font-size: 25px;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.recharts-responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-50 {
  margin-top: 50px !important;
}
 
.dot-glow {
  filter: drop-shadow(0 0 2px currentColor) brightness(1);
  animation: glowPulse 0.2s linear infinite;
}
 
/* Пульсирующее свечение */
@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 2px currentColor) brightness(1);
  }
  50% {
    filter: drop-shadow(0 0 2px currentColor) brightness(1.2);
  }
  100% {
    filter: drop-shadow(0 0 2px currentColor) brightness(1);
  }
}

.no-wrap {
	white-space: nowrap; /* Запрет на перенос */
}

.modal.with-inner-backdrop::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.powerButton-navbar-modal .modal-dialog {
  position: absolute;
  top: 65px;
  right: 0;
  margin: 0;              /* убираем стандартные отступы */
  width: fit-content;      /* ширина по содержимому */
  max-width: none;         /* отключаем ограничение bootstrap */
}

.powerButton-navbar-modal .modal-content {
  border-radius: 8px;      /* можно слегка скруглить */
  padding: 0;              /* убрать лишние отступы */
}

#timer {
 font-size: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
}


#cutHead {
  width: 200px;
  height:300px;
}

.font18 {
  font-size: 18px;
}

.currentPlanMeasureWpapperWpapper {
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.currentPlanMeasureWpapper {

  width: 300px;
  height: 60px;
  background: white;
  border: 1px solid var(--grey-nav);
  border-radius: 10px;
  margin: 0 2.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currentPlanMeasure {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px 0 0;
}

.currentPlanMeasureNameCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.currentPlanMeasureName {
  font-size: 29px; 
 }

.currentPlanMeasureValConainer {
  width: 190px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--grey-nav);
  border: 1px solid var(--grey-nav);
  border-radius: 10px;
}

.currentPlanMeasureValue {
  font-size: 22px;
  margin: 0 5px;
}


.limitText{
  font-size: 10px;
  margin-left: 5px;

}

/*  led CSS*/ 

.led-gray-medium {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: #808080;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #333333 0 -1px 4px, rgba(128, 128, 128, 0.5) 0 1px 6px;
}

.led-green-medium {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: #0F0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #134413 0 -1px 4px, rgba(0, 255, 0, 0.5) 0 1px 6px;
  -webkit-animation: blinkGreenMedium 0.5s infinite;
  -moz-animation: blinkGreenMedium 0.5s infinite;
  -ms-animation: blinkGreenMedium 0.5s infinite;
  -o-animation: blinkGreenMedium 0.5s infinite;
  animation: blinkGreenMedium 0.5s infinite;
}

@-webkit-keyframes blinkGreenMedium {
    from { background-color: #0F0; }
    50% { background-color: #0A0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #134413 0 -1px 5px, rgba(0, 255, 0, 0.5) 0 2px 0;}
    to { background-color: #0F0; }
}
@-moz-keyframes blinkGreenMedium {
    from { background-color: #0F0; }
    50% { background-color: #0A0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #134413 0 -1px 5px, rgba(0, 255, 0, 0.5) 0 2px 0;}
    to { background-color: #0F0; }
}
@-ms-keyframes blinkGreenMedium {
    from { background-color: #0F0; }
    50% { background-color: #0A0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #134413 0 -1px 5px, rgba(0, 255, 0, 0.5) 0 2px 0;}
    to { background-color: #0F0; }
}
@-o-keyframes blinkGreenMedium {
    from { background-color: #0F0; }
    50% { background-color: #0A0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #134413 0 -1px 5px, rgba(0, 255, 0, 0.5) 0 2px 0;}
    to { background-color: #0F0; }
}
@keyframes blinkGreenMedium {
    from { background-color: #0F0; }
    50% { background-color: #0A0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #134413 0 -1px 5px, rgba(0, 255, 0, 0.5) 0 2px 0;}
    to { background-color: #0F0; }
}

.led-red-medium {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #441313 0 -1px 4px, rgba(255, 0, 0, 0.5) 0 1px 6px;
  -webkit-animation: blinkRedMedium 0.5s infinite;
  -moz-animation: blinkRedMedium 0.5s infinite;
  -ms-animation: blinkRedMedium 0.5s infinite;
  -o-animation: blinkRedMedium 0.5s infinite;
  animation: blinkRedMedium 0.5s infinite;
}
  
  @-webkit-keyframes blinkRedMedium {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #441313 0 -1px 5px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: #F00; }
  }
  @-moz-keyframes blinkRedMedium {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #441313 0 -1px 5px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: #F00; }
  }
  @-ms-keyframes blinkRedMedium {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #441313 0 -1px 5px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: #F00; }
  }
  @-o-keyframes blinkRedMedium {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #441313 0 -1px 5px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: #F00; }
  }
  @keyframes blinkRedMedium {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px px 1px, inset #441313 0 -1px 5px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: #F00; }
  }

  /*  LED CSS END*/

  .ccard {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.ccard-header {
    font-size: 18px;
    background-color: none;
    margin: 20px 0;
}

.ccard-image-wrapper {
  width: 400px;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically, optional */
  background-color: var(--darkBg);
  border: 1px solid var(--grey-progress);
  border-radius: 10px;

}
.ccard-image {
  width: fit-content;
  height: fit-content;
 
}

.ccard-info-block {
  width: 475px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;  

}

.ccard-title {
    font-size: 18px;
    margin-bottom: 5px;
}
.ccard-details {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.ccard-footer {
    font-size: 12px;
    color: #666;
}

.swiper-slide img {
  display: block;
  max-width: 400px;
  max-height: 200px;     /* высота растягивается на 100% контейнера */
  object-fit: contain;  /* сохраняет пропорции и помещает изображение полностью */
}


.planMain {
  display: flex;
  justify-content: center; 
  align-items: center;    
  width: 1200px;          
  height: 800px;          
  overflow:hidden;
}

.planMainImg{ 
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/*  #workarea #workarea #workarea  start*/ 

#listing_area {
  max-height: unset;
}

#workarea {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  --stroke-width-mul: 0.5%;
  --default-stroke-width: 0.5%;
  stroke-width: calc(var(--stroke-width) * var(--stroke-width-mul));
}

#workarea svg {
  width: 100%;
  height: 100%;
  /* max-height: 80svh; */
  /* xxxbackground: #111; */
  stroke-linecap: round;
}

/* #listing {
  min-width: max-content;
  font-size: medium;
  font-family: 'Liberation Mono', monospace;
}

#listing * {
  font-size: medium;
  font-family: 'Liberation Mono', monospace;
}

#listing div {
  white-space: nowrap;
}

#listing em {
  min-width: 4rem;
  color: yellow;
  text-align: right;
  display: inline-block;
  background: #444;
}

#listing span {
  padding-left: 4px;
  display: inline-block;
}

#listing .selected {
  background: #fff;
  color: #000;
}

#listing .gcomment {
  background: #500;
}

#listing div:hover {
  background: yellow;
  color: #000;
}

#listing div:hover em {
  background: yellow;
  color: #000;
} */

.sgn_fm, .sgn_brk, .sgn_mj, .sgn_mv {
  --stroke-width-mul: 0.2%;
  stroke-width: 4000px/* calc(var(--stroke-width) * var(--stroke-width-mul)) !important */;
}

#workarea svg .sgn_fm {
  /* --stroke-width-mul: 0.04%; */
  stroke-dasharray: 10000px/* calc(var(--stroke-width) * 0.2%) */;
  stroke-opacity: 0.8;
  stroke: var(--violet);
  marker-end: url(#arrow);
}

#workarea svg .sgn_fm.selected {
  --stroke-width-mul: 0.1%;
}

#workarea svg .sgn_mj {
  --stroke-width-mul: 0.12%;
}

#workarea svg .sgn_mv {
  --stroke-width-mul: 0.12%;
}

#workarea svg .sgn_mv:hover {
  --stroke-width-mul: 0.4%;
}

#workarea svg .sgn_fm:hover {
  --stroke-width-mul: 0.4%;
  stroke-opacity: 1;
  stroke: #fff;
}

#workarea svg .sgn_mj:hover {
  --stroke-width-mul: 0.4%;
  stroke-opacity: 1;
  stroke: #fff;
}

#workarea svg .sgn_mv0 {
  --stroke-width-mul: 0.12%;
  stroke: rgb(211, 129, 18) !important;
}

#workarea svg .sgn_mv1 {
  --stroke-width-mul: 0.04%;
/*stroke: rgb(244, 229, 125) !important;*/
  stroke: var(--darkBlue);
}

#workarea svg .sgn_mv2 {
  stroke: rgb(157, 181, 93) !important;
  stroke-opacity: 0.7;
}

#workarea svg .sgn_mv3 {
  stroke: rgb(126, 195, 193) !important;
}

#workarea svg .sgn_mv4 {
  stroke: rgb(144, 165, 212) !important;
}

#workarea svg .sgn_mv5 {
  stroke: rgb(56, 51, 172) !important;
}

#workarea svg .sgn_mv6 {
  stroke: olive !important;
}

#workarea svg .sgn_mv7 {
  stroke: white !important;
}

#workarea svg .sgn_brk {
 /*  --stroke-width-mul: 0.1%;
  r: calc(var(--stroke-width) * var(--stroke-width-mul)); */
  stroke-width: 4000px;
  stroke: white !important;
  fill: white !important;
  stroke-opacity: 0.4;
  fill-opacity: 0.1;
}

#workarea svg .sgn_brk:hover {
/*   --stroke-width-mul: 0.2%; */
  stroke-width: 4000px;
  stroke-opacity: 1;
  stroke: yellow !important;
  fill: yellow !important;
  stroke-opacity: 0.9;
  fill-opacity: 0.7;
}

#workarea svg .sgn_brk.selected {
  --stroke-width-mul: 0.2%;
  stroke: aqua !important;
}

#workarea svg .sgn_brk.selected:hover {
  --stroke-width-mul: 0.4%;
  stroke: yellow !important;
}

#workarea svg .selected {
  stroke: white !important;
  /* fill: white !important; */
}


.sgn_sheet {
  fill: url(#grid_pattern);
  stroke: var(--gridColorStroke);
  stroke-width: 4000px/*  calc(var(--default-stroke-width) * 0.35%) */; 
}

.sgn_line_executed, .sgn_line_executed.selected {
  filter: hue-rotate(180deg);
}

#content .card {
  border: unset;
}

/*  #workarea #workarea #workarea  end */ 
