@import './../node_modules/bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: "Moderat";
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Moderat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "7SegBoldItalic";
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/DSEG7Modern-Italic.ttf') format('truetype');
}


@font-face {
  font-family: "Seg14";
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/DSEG14Modern-Italic.ttf') format('truetype');
}

body {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.segments14 {
  font-family: 'Seg14', monospace !important;
}


.seven-seg {
  font-family: '7SegBoldItalic', monospace !important;
}

.moderat {
  font-family: 'Moderat', monospace !important;
}


@media (orientation: portrait) {
  .navigation-bar {
    flex-direction: column;
  }
  #CentralBar {
      width: 907px;
  }
}

@media (orientation: landscape) {
  .navigation-bar {
    flex-direction: row;
  }

  #CentralBar {
    width: 1747px;
}
}

.knob_name {
  top: 180px;
    z-index: 1;
    font-size: 52px;
    color: orangered;
}

.knob_min {
  top: 180px;
  z-index: 1;
  font-size: 52px;
  color: orangered;
}

.knob_max {
  top: 180px;
  z-index: 1;
  font-size: 52px;
  color: orangered;
}

.knob_m {
  z-index: 1;
  font-size: 52px;
  color: orangered;
}

:root {
  --red: rgb(255, 51, 40);
  --green: rgb(42, 199, 94);
  --blue: rgb(71, 209, 204);
  --violet: rgb(93, 83, 247);
  --white: rgb(255, 255, 255);
  --grey-progress: rgb(234, 234, 238);
  --grey-main: rgb(244, 244, 247);
  --grey-button: rgb(249, 223, 226);
  --grey-button-bottom: rgb(231, 231, 233);
  --grey-nav: rgb(223, 223, 226 );
  --color: #ffffff;        
  --transColor:none;
  --gridColorStroke:#FFFFFF;;
  --knobMainText: orangered;
}


.themeLight {
  --mainBg: rgb(244, 244, 247);
  --mainBg1: rgb(249, 223, 226);
  --darkBg: rgb(231, 231, 233);
  --gridColorFill: rgb(223, 223, 226 );
  --paleColor: #434343;  
  --shadow: drop-shadow(0px 0px 0px rgb(0,0,0))
}

.themeDark {
  --mainBg: #383838;
  --mainBg1: #282828;
  --darkBg:#171717;
  --gridColorFill:#333333;
  --paleColor: #cccccc;    
  --shadow: drop-shadow(0px 2px 4px rgba(0,0,0,1))

}

html, body {
  touch-action: none !important;
  font-family: "Moderat",sans-serif;
}

#App {
  width:  100vw;
  height: 100vh;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--grey-main);
}

#ProgressBarContainer {
  height: 66.6px;
/*   background-color: red;
 */}

#BarContainer {
  height: calc( 100% - 66.6px);
  width: 100%;
}

#MidBarContainer {
  width: 91%;
} 

#LeftCentralBarContainer {
  width: 100%;
  height: 100%;
}

#dLine, 
.dLine {
  border-top: 5px solid var(--grey-progress);
  width: 100%;
  height: 2px;
}

#CentralBar {
  justify-content: center;
  align-items: center;
  display: flex;
}

#SwiperContainer {
  min-height: 800px;
  min-width: 800px;
  max-width:   1600px;
  max-height: 800px;
  display: flex;
  align-items: center;
}

#LeftBar {
  width: 5.2%;
  min-width: 80px;
  height: 98%;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

#RightBar {
/*   width: 166.5px; */
  width: 9%;
  height: 98%;
  background-color: var(--white) ;
  border: 1px solid var(--white) ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 800px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.planCard {
  width: 600px;
  height: fit-content;
  max-height: 800px;  
  border: 2px solid var(--grey-progress);
  border-radius: 10px;
  padding: 1em;
  background-color: var(--white);
}


.planCard_header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.planCard_body_img{
  padding: 25px;
  border: 2px solid var(--grey-progress);
  border-radius: 10px;
  background-color: var(--grey-main);
  width: 456px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.swipeButtons {
  position: absolute!important;
  justify-content: center!important;
  margin-top: 1.5rem!important;
  bottom: 6%;
  /* left: 45%; */
  z-index: 10;
}

#RightBar div {
  margin:3%;
}

#RightBar button {
  background-color: var(--grey-progress);
  border: 1px solid var(--grey-progress);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  color: black;
  transition: background-color 0.2s ease;
}

#RightBar button:active,
#RightBar button:focus:active {
  background-color: var(--grey-main) !important;
}



/* Чтобы dropdown-items тянулись на всю ширину */
#RightBar .dropdown-menu {
  width: 100%;
}


#LeftBar div {
  /* margin:5%; */
  height: auto;
  
}

#LeftBar button {
  background-color: var(--violet);
  border: 1px solid var(--violet);
  border-radius: 5px;
  width: 78px;
  height: 60px;
  color: white;
}

.swipeButtons {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}

#NavBar {
  width: 100%;
  height: 66.6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;  
}

.navbar_button {
  border-radius: 5px;
  color: black;
  width: 58px;
  height: 58px;
}

.violet_button {
  background-color: var(--violet) !important;
  border: 1px solid var(--violet) !important;
}

.grey_button {
  background-color: var(--grey-nav) !important;
  border: 1px solid var(--grey-nav) !important;
}

/* #longButton {
  width: 1291px;
} */

.swipeButtons button {
  border-radius: 5px;
  color: black;
  width: 58px;
  height: 58px;
}

.h-80 {
  height: 80% !important;
}

.h-70 {
  height: 70% !important;
}

.h-60 {
  height: 60% !important;
}

.h-40 {
  height: 40% !important;
}

.h-33 {
  height: 33.3% !important;
}

.h-30 {
  height: 30% !important;
}

.h-20 {
  height: 20% !important;
}

.h-15 {
  height: 15% !important;
}

.h-10 {
  height: 10% !important;
}


.h-125 {  height: 12.5% !important;
}


#main1 {
  background-color: var(--mainBg);
}


.vidget {  
  background-color: var(--gridColorFill);
  border: 1px solid  var(--mainBg);
  border-radius: 10px;
  border-top-left-radius: 0;
  overflow: hidden;  
  color: aliceblue;
 }

 .fade-toggle {
  opacity: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap; /* предотвращает перенос */
  transition: opacity 1s ease, width 1s ease;
}

.fade-toggle.visible {
  opacity: 1;
  width: 400px !important; /* или фиксированная ширина, если нужно */
}


.themeDark.svgChart
 {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

.knob_body {
  background-color: #181818;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #aaa;
  text-align: center;
}

.editModal_row {
  height: 250px;
}

.editModal_col {
  width: 150px;
  height: 250px;
}


.modal-content {
  background-color: rgb(234, 234, 238);
}


.listMacrosEdit_title {
  margin-top: 12px;
  margin-bottom: 12px;
  color: orangered;
}

.listMacrosEdit .list-group-item {
   background-color: rgb(234, 234, 238);
   border: 1px solid rgb(223, 223, 226 );
}


/* CUSTOM RADIO BUTTON  START*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--violet);
    position: absolute;
    top: 4.25px;
    left: 4.25px;
    border-radius: 100%;
   /*  -webkit-transition: all 0.2s ease;*/
    transition: none; 
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* CUSTOM RADIO BUTTON  END*/



.mt-10 {
  margin-top: 6rem!important;
}